* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #3b2a27;
    color: white;
}

header {
    background: #4b3631;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 10px solid #EC5B13;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
}

nav ul li a:hover {
    transform: scale(1.20);
    color: #EC5B13;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.logo {
    background-color: #EC5B13;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    transform: scale(1.20);
}

.logo img {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.status {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 6px 13px;
    border-radius: 20px;
    border: 1px solid #ff6a00;
    color: #ff6a00;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
}

.texto {
    max-width: 900px;
}

.sobrenome {
    color: #EC5B13;
}

.texto h1 {
    font-size: 70px;
    margin: 10px 0;
}

.texto h2 {
    color: #d8b4a0;
    margin-bottom: 20px;
}

.texto p {
    padding: 30px;
}

button {
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background: #a36d5c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #c98c77;
}

.foto img {
    width: 400px;
    border-radius: 10px;
}

section {
    padding: 100px 50px;
    text-align: center;
}

section h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: #5a403a;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    height: 350PX;
}

.img-projeto1 {
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.skill {
    background: #5a403a;
    padding: 20px 30px;
    border-radius: 10px;
}

footer {
    background: #2a1d1a;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.sobre {
    padding-top: 40px;
}

.titulo-sobre-min {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 20vh;
    border-radius: 10px;
    font-size: 40px;
}

.img-move2 {
    animation: flutuar 3s ease-in-out infinite alternate;
    width: 400px;
}

.sobremin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #77412863;
    border-radius: 10px;
    width: 600px;
    height: 400PX;
    border-left: 4px solid #EC5B13;
    padding-left: 16px;
}

.img-move {
    width: 200px;
    animation: flutuar 3s ease-in-out infinite alternate;
}

@keyframes flutuar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}
